@font-face {
   font-family: 'coffee&tea';
   font-weight: normal;
   src: url('../src/fonts/coffee&tea.ttf') format('truetype')
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url('../src/images/paper.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
   min-height: 100vh;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

header {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   font-size: 5rem;
   margin: 5.5rem;
   font-family: 'coffee&tea', sans-serif;
   letter-spacing: 1px;
   color: rgb(67, 67, 67);
}

form {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 2rem;
   padding: 2rem;
   align-items: center;
}

.todo-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.todo-list {
   min-width: 30%;
   list-style: none;
}

.todo-form input {
   font-family: 'coffee&tea', sans-serif;
   letter-spacing: 1px;
   margin: 0px;
   padding: 0.5rem;
   font-size: 2rem;
   border: none;
   background: white;
   width: 25%
}

.todo-button {
   padding: 0.4rem;
   margin: 1rem;
   font-size: 2rem;
   border: none;
   background: white;
   color: #000000;
   cursor: pointer;
   transition: all 0.3s ease;
}

.delete-btn,
.complete-btn {
   background: #ff4d00;
   color: black;
   border: 2px black;
   padding: 1rem;
   cursor: pointer;
   margin: 0.5rem;
}

.complete-btn {
   background: rgb(11, 212, 162);
}

.todo-item {
   padding: 0rem 0.5rem;
   text-align: center;
}


.fa-solid,
.fa-sort-down {
   pointer-events: none;
   font-size: 2rem;
}

/*CUSTOM SELECTOR */

.todo-select {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: 0;
   box-shadow: none;
   border: 0 !important;
   background-image: none;
   color: #000000;
   font-family: 'Poppins', sans-serif;
   cursor: pointer;
   width: 11rem;
   padding: 0.5rem;
   font-size: 1rem
}

.select {
   margin: 1rem;
   position: relative;
   overflow: hidden;
}

.select::after {
   content: "\25BC";
   position: absolute;
   top: 0;
   right: 0;
   padding: 0.5rem;
   color: #000000;
   cursor: pointer;
   pointer-events: none;
}