@font-face {
   font-family: 'coffee&tea';
   font-weight: normal;
   src: url('../src/fonts/coffee&tea.ttf') format('truetype')
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url('../src/images/paper.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
   min-height: 100vh;
}